:root {
    --first: #000;
    --second: #00e;
    --third: #808080;
    --fourth:#903;
    --fifth: #de2226;
    --sixth:#fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body{
    background-image:url(/dashboard/acme/images/site/background.jpg);
    background-size: cover; 
    background-attachment: fixed;
    padding: 0;
    margin:0;
}
 .content{
    background: var(--sixth);
    width:90%;
    margin:0 auto;
}
p{
    font-size:20px;
    color:var(--first);
}
header{
    display: flex;
    justify-content: space-around;
}
.logo{
    transform: scale(0.4);
    position: relative;
    left: 0;
}
.account{
    transform: scale(0.2);
}
#navigation{
    background: var(--fifth);
    padding:7px;
}
#navigation ul{
    display: flex;
}
#navigation ul li{
    list-style: none;
    margin-right: 0.5em;
}

#navigation ul li a {
    text-decoration: none;
    font-size: 2em;
    padding: 20px;
    color: var(--sixth);
}
#navigation ul li a.active{
    color: var(--fifth);
    background: var(--sixth);
}
.showcase{
    min-height: 100px;
    background:url("/dashboard/acme/images/site/rocketfeature.jpg");
    background-size:cover;
    background-position: center; 
    padding:30px;
    
}